@media only screen and(max-width:600px) {
 #pD4q1xlG5cw46wBm{
    font-size: 16px;
 }   
 #jzXZWd9BaohjqmYb{
    font-size: 12px;
 }
 #kcfoSz4QkWofn1fM{
   font-size: 13px;
 }
 #vwQpxoxrPHMdPBon p {
    font-size: 6px;
}
#HgjxBLweC6JWDFXj{
    font-size: 11px;
}
#fKAUMlJU3TSyHxDK{
    font-size: 17px;
}
#UYbWR2lwpd82q7nv{
    font-size: 7px;
}
#QS4vmw3wgLSqdyzM{
    font-size: 7px;
}
#QS4vmw3wgLSqdyzM{
    text-align: right;
    font-size: 7px;

}
#ScNtGyYChxWbgRkl{
font-size: 11px;
}

#KNeprxp0X7deg8At{
    font-size: 15px;
}
#kKzhcr3wFM5zuYc1{
    font-size: 10px;
}
#EdDAktd0CD9cx55r{
    font-size: 11px;
}
#qJVYtYuAA0YhxZwu{
    font-size: 15px;
}
#dQrrR74hKi1hRgJz{
    font-size: 6px;
}
#dOWTyBvlr9a97Mwz{
    font-size: 10px;
}
#XaT4n9YAIdP5uYRB{
    font-size: 9px;
}
#qdcq1sP3hgurbs2W{
    font-size: 17px;
}
#nuuMAAt9nRqASj3L{
    font-size: 10px;
}
#FCIlM5FPnpGMd4jC{
    font-size: 10px;
    color: #9cf400;
}
#yODPJlQ2oS5hxBWs{
    font-size: 6px;
}
#XodUqiLhHIia5LFf{
    font-size: 11px;
}
}